<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="DpSpatialIndex">
            <directory>./DpSpatialIndexTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/DpSpatialIndex</directory>
        </whitelist>
    </filter>
</phpunit>
